#create_user {
  margin-top: 30px;
  width: 120px !important;
}

.wrapper-table {
  display: flex;
  overflow: auto;
}

.table-left {
  text-align: left;
  left: 20px;
  position: absolute;
}

.table-left td {
  max-width: 200px;
  min-width: 200px;
  background: white;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.table-right {
  margin-left: 400px;
}

.custom-table {
  border: 1px solid #dee2e6;
}

.custom-table thead th {
  margin: 15px 5px;
  max-width: 200px;
  min-width: 200px;
  border: 1px solid #dee2e6;
  padding: 0.75rem;
  background-color: #ffff;
}

.custom-table tr td {
  border: 1px solid #dee2e6;
  padding: 0.75rem !important;
}

.fa-play-circle {
  cursor: pointer;
}

#showDetailRecord .modal-dialog {
  width: 80%;
}

.dropdown-toggle::after {
  display: none;
}

.border-content {
  /* background-color: red !important; */
  border-top: solid 2px rgba(0, 0, 0, 0.125);
}

.nav-scorescript {
  display: initial;
}

.modal-body {
  padding: 0px;
}

.row.p-2.col-sm-12.bg-light {
  margin: 0px;
}

.form-control.textarea {
  margin-right: 7.5px;
  margin-left: 7.5px;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.normal-label {
  font-weight: normal !important;
}

.modal-dialog.showDetailRecord {
  max-width: 40% !important;
  height: 100%;
}

.wavesurfer-handle {
  background-color: red !important;
}

#title_config_column {
  font-size: 20px;
  margin: 17px;
}

li{
  list-style-type: none;
}
