<script>
</script>
<div class="wrapper">
  <div>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-3"></div>
          <div class="col-6">
            <div class="card">
              <div class="card-header"></div>
              <!-- <div class="fileinput-button dz-clickable" id="container-input">
                <div class="table table-striped" class="files" id="previews">
                  <div id="template" class="file-row">
                    <div>
                      <span class="name" data-dz-name></span>
                      <span data-dz-remove class="ml-2 delete">
                        <i class="fa fa-solid fa-trash" aria-hidden="true"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-between p-3">
                <button type="button" class="btn btn-default">Tải xuống file mẫu</button>
                <button type="button" class="btn btn-primary">Kiểm tra dữ liệu</button>
              </div> -->

              <div class="fileinput-button dz-clickable" id="container-input">
                <div class="table table-striped" class="files" id="previews">
                  <div id="template" class="file-row">
                    <div>
                      <p class="name" data-dz-name></p>
                    </div>
                    <div>
                    </div>
                    <div id="actions">
                      <button data-dz-remove class="btn btn-danger delete">
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>Delete</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row justify-content-between p-3">
                <button type="button" class="btn btn-default">Tải xuống file mẫu</button>
                <button type="button" class="btn btn-primary" id="btn_handle_file">Kiểm tra dữ liệu</button>
              </div>
            </div>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
    </section>
  </div>
</div>