<script>
    var title = JSON.parse('<%- JSON.stringify(title) %>');
</script>
<div class="wrapper">
    <div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header row">
                                <div class="col-12 d-flex justify-content-between">
                                    <form class="col-10" id="form_search_recording">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="form-group">
                                                    <!-- <label>Extension</label> -->
                                                    <input type="text" class="form-control" name="extension" />
                                                </div>
                                            </div>
                                            <div class="col-1">
                                                <button type="button"
                                                    class="form-control btn btn-primary btn-circle btn-md" id="search">
                                                    <i class="fas fa-search p-0"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                    <button type="button" class="form-control btn btn-primary ml-5" data-toggle="modal"
                                        data-target="#myModal">Thêm mới <i class="fa fa-plus p-0 ml-1"
                                            aria-hidden="true"></i></button>
                                </div>

                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Rendering engine</th>
                                            <th class="text-center">Browser</th>
                                            <th class="text-center">Platform(s)</th>
                                            <th class="text-center">Engine version</th>
                                            <th class="text-center">CSS grade</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Trident</td>
                                            <td>Internet
                                                Explorer 4.0
                                            </td>
                                            <td>Win 95+</td>
                                            <td> 4</td>
                                            <td>X</td>
                                        </tr>
                                        <tr>
                                            <td>Trident</td>
                                            <td>Internet
                                                Explorer 5.0
                                            </td>
                                            <td>Win 95+</td>
                                            <td>5</td>
                                            <td>C</td>
                                        </tr>
                                        <tr>
                                            <td>Trident</td>
                                            <td>Internet
                                                Explorer 5.5
                                            </td>
                                            <td>Win 95+</td>
                                            <td>5.5</td>
                                            <td>A</td>
                                        </tr>
                                        <tr>
                                            <td>Trident</td>
                                            <td>Internet
                                                Explorer 6
                                            </td>
                                            <td>Win 98+</td>
                                            <td>6</td>
                                            <td>A</td>
                                        </tr>
                                        <tr>
                                            <td>Trident</td>
                                            <td>Internet Explorer 7</td>
                                            <td>Win XP SP2+</td>
                                            <td>7</td>
                                            <td>A</td>
                                        </tr>
                                        <tr>
                                            <td>Trident</td>
                                            <td>AOL browser (AOL desktop)</td>
                                            <td>Win XP</td>
                                            <td>6</td>
                                            <td>A</td>
                                        </tr>
                                        <tr>
                                            <td>Gecko</td>
                                            <td>Firefox 1.0</td>
                                            <td>Win 98+ / OSX.2+</td>
                                            <td>1.7</td>
                                            <td>A</td>
                                        </tr>
                                        <tr>
                                            <td>Gecko</td>
                                            <td>Firefox 1.5</td>
                                            <td>Win 98+ / OSX.2+</td>
                                            <td>1.8</td>
                                            <td>A</td>
                                        </tr>
                                        <tr>
                                            <td>Gecko</td>
                                            <td>Firefox 2.0</td>
                                            <td>Win 98+ / OSX.2+</td>
                                            <td>1.8</td>
                                            <td>A</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>Rendering engine</th>
                                            <th>Browser</th>
                                            <th>Platform(s)</th>
                                            <th>Engine version</th>
                                            <th>CSS grade</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
</div>

<!-- /.modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Tạo người dùng</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form_input_user">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label>Họ và tên đệm</label>
                                <input type="text" class="form-control" id="firstName" name="firstName" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label>Tên</label>
                                <input type="text" class="form-control" id="lastName" name="lastName" />
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label>Tên đăng nhập</label>
                            <input type="text" class="form-control" id="userName" name="userName" />
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label>Extension</label>
                            <input type="text" class="form-control" id="extension" name="extension" />
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label>Mật khẩu</label>
                            <input class="form-control" type="password" id="password" name="password">
                        </div>
                    </div>
                    <div>
                        <div class="form-group">
                            <label>Xác nhận mật khẩu</label>
                            <input class="form-control" type="password" id="repeat_password" name="repeat_password">
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                        <button type="submit" class="btn btn-primary" id="btn_create_user">Lưu</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->