<script>
</script>
<div class="wrapper">
  <div>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header row">
                <div class="col-12 d-flex justify-content-between">
                  <form class="col-10" id="form_search_user">
                    <div class="row">
                      <div class="col-2">
                        <div class="form-group">
                          <label>Tên đăng nhập</label>
                          <input type="text" class="form-control" name="username" />
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="form-group">
                          <label>Họ và Tên</label>
                          <input type="text" class="form-control" name="fullname" />
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="form-group">
                          <label>Extension</label>
                          <input type="text" class="form-control" name="extension" />
                        </div>
                      </div>
                      <div class="col-2">
                        <button type="button" class="form-control btn btn-primary btn-circle btn-md" id="searchUser">
                          <i class="fas fa-search p-0"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                  <button type="button" class="form-control btn btn-primary" data-toggle="modal" id="create_user"
                    data-target="#modalUser">
                    <i class="fa fa-plus p-0 ml-1" aria-hidden="true"></i>
                    Thêm mới
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                    <tr>
                      <th class="text-center">Họ và Tên</th>
                      <th class="text-center">Tên đăng nhập</th>
                      <th class="text-center">Extension</th>
                      <th class="text-center">Nhóm</th>
                      <th class="text-center">Ngày tạo</th>
                      <th class="text-center">Người tạo</th>
                    </tr>
                  </thead>
                  <tbody id="tableBody"></tbody>
                </table>
              </div>
              <div class="card-footer text-center">
                <div class="col-12 d-flex justify-content-center" id="paging_table">
                </div>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
</div>

<!-- /.modal -->
<div class="modal fade" id="modalUser">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Tạo người dùng</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="form_input_user" autocomplete="off">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label>
                  Họ và tên đệm
                  <span class="text-danger">*</span>
                </label>
                <label class="float-right font-weight-normal text-muted" id="first_name_length">
                  0/30
                </label>
                <input type="text" class="form-control input" id="firstname" name="firstName"/>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>
                  Tên
                  <span class="text-danger">*</span>
                </label>
                <label class="float-right font-weight-normal text-muted" id="last_name_length">
                  0/30
                </label>
                <input type="text" class="form-control input" id="lastname" name="lastName" />
              </div>
            </div>
          </div>
          <div>
            <div class="form-group">
              <label>
                Tên đăng nhập
                <span class="text-danger">*</span>
              </label>
              <label class="float-right font-weight-normal text-muted" id="user_name_length">
                0/30
              </label>
              <input type="text" class="form-control input" id="username" name="userName" autocomplete="new-password"/>
            </div>
          </div>
          <div>
            <div class="form-group">
              <label>
                Extension
                <span class="text-danger">*</span>
              </label>
              <input type="text" class="form-control input" id="extension" name="extension" />
            </div>
          </div>
          <div>
            <div class="form-group">
              <label>Quyền</label>
              <select class="form-control selectpicker input" name="roles" id="roles" multiple>
                <option value="0">Agent</option>
                <option value="1">Supervisor</option>
                <option value="2">Admin</option>
              </select>
            </div>
          </div>
          <div>
            <div class="form-group">
              <label>
                Mật khẩu
                <span class="text-danger">*</span>
              </label>
              <input class="form-control input" type="password" id="password" name="password" autocomplete="new-password">
            </div>
          </div>
          <div>
            <div class="form-group">
              <label>
                Xác nhận mật khẩu
                <span class="text-danger">*</span>
              </label>
              <input class="form-control input" type="password" id="repeat_password" name="repeat_password">
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
            <button type="submit" class="btn btn-primary">Lưu</button>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->