<div class="tab-pane fade mt-3" id="tab-score-target-auto" role="tabpanel" aria-labelledby="custom-tabs-three-home-tab">
  <div class="border-content p-2">
    <div class="row">
      <div class="col-6">
        <label style=" font-weight: normal;"> Tiêu chí chấm
          <span class="text-danger">(*)</span>
        </label>
        <input type="text" class="form-control input" id="nameTargetAuto" name="nameTargetAuto">
      </div>
      <div class="col-6">
        <label style=" font-weight: normal;"> Điểm của tiêu chí
          <span class="text-danger">(*)</span>
        </label>
        <input type="text" class="form-control input" id="point" name="point">
      </div>
    </div>

    <div class="pt-2 pb-2">
      <div class="row row-keyword-set">

      </div>

      <a class="mt-3" type="button" id="btn-add-keyword-set"><i class="fas fa-plus"
          style="font-size: 1.3em;color: #007bff;"></i>
      </a>
      <div class="form-group clearfix mt-1">
        <div class="icheck-primary d-inline">
          <input type="checkbox" id="checkbox">
          <label for="checkbox" style=" font-weight: normal;">
            Điểm liệt của kịch bản chấm tự động
          </label>
        </div>
      </div>
    </div>
  </div>
</div>