<!-- item lựa chọn -->
<div class="col-12 item-selection-criteria">

    <div class="row">
        <div class="col">
            <div class="form-group">
                <div class="input-group date" id="startTime" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input input" name="startTime"
                        data-target="#startTime" autocomplete="off" />
                </div>
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <div class="input-group date" id="startTime" data-target-input="nearest">
                    <input type="text" class="form-control datetimepicker-input input" name="startTime"
                        data-target="#startTime" autocomplete="off" />
                </div>
            </div>
        </div>

        <div class="col">
            <div class="description-block">

                <div class="form-check">
                    <input class="form-check-input cb-unLimited" type="checkbox">
                </div>
            </div>
        </div>

        <div class="col">
            <div class="description-block">

                <div class="form-check">
                    <input class="form-check-input cb-unLimited" type="checkbox">
                </div>
            </div>
        </div>

        <div class="col-sm-1 d-flex align-items-center justify-content-end">
            <%- include('./btn.rm.ejs', { BTN_TITLE: 'Xóa lựa chọn', BTN_CLASS_NAME : 'rm-selection-criteria' }) %> 
        </div>

    </div>

</div>
<!-- item lựa chọn -->