<!-- template nhóm tiêu chí -->
<div class="card card-default item-criteria-group">
    <div class="removeCard">
        <%- include('./btn.rm.ejs', { BTN_TITLE: 'Xóa nhóm tiêu chí', BTN_CLASS_NAME : 'rm-criteria-group' }) %>
    </div>

    <div class="card-header">
        <h4 class="card-title w-100">
            <div class="form-group row">
                <label for="description" class="col-sm-2 col-form-label">Nhóm tiêu chí <span class="text-danger">*</span> </label>
                <div class="col-sm-9">
                    <input type="text" class="form-control name-criteria-group unique-criteria-group" id="nameCriteriaGroup" name="nameCriteriaGroup" placeholder="Tên nhóm tiêu chí">
                </div>
            </div>
        </h4>
    </div>

    <div class="card-body wp-list-criteria">

    
    </div>

    <p class="m-0 wp-add-criteria">
        
    </p>

</div>
<!-- template nhóm tiêu chí -->