<!-- item lựa chọn -->
<div class="col-12 item-selection-criteria" id="tempSelectionCriteria">

    <div class="row">
        <div class="col">
            <div class="form-group">
                <input type="text" class="form-control name-selection-criteria" id="nameSelectionCriteria" name="nameSelectionCriteria" autocomplete="off" />
            </div>
        </div>

        <div class="col">
            <div class="form-group">
                <input type="number" class="form-control score" id="score" name="score" autocomplete="off" />
            </div>
        </div>

        <div class="col">
            <div class="description-block">

                <div class="form-check">
                    <input class="form-check-input cb-unScoreCriteriaGroup" type="checkbox" id="unScoreCriteriaGroup">
                </div>
            </div>
        </div>

        <div class="col">
            <div class="description-block">

                <div class="form-check">
                    <input class="form-check-input cb-unScoreScript" type="checkbox" id="unScoreScript">
                </div>
            </div>
        </div>

        <div class="col-sm-1 d-flex align-items-center justify-content-end">
            <%- include('./btn.rm.ejs', { BTN_TITLE: 'Xóa lựa chọn', BTN_CLASS_NAME : 'rm-selection-criteria' }) %> 
        </div>

    </div>

</div>
<!-- item lựa chọn -->