<div class="row">

    <div class="col">

        <div class="form-group">
            <label>Lựa chọn
                <span class="text-danger">*</span>
            </label>
        </div>

    </div>

    <div class="col">

        <div class="form-group">
            <label>Tính điểm
                <span class="text-danger">*</span>
            </label>
        </div>

    </div>

    <div class="col">

        <div class="form-group text-center">
            <label>Điểm liệt của nhóm tiêu chí

            </label>
        </div>

    </div>

    <div class="col">

        <div class="form-group text-center">
            <label>Điểm liệt của kịch bản

            </label>
        </div>

    </div>

    <div class="col-sm-1 d-flex align-items-center justify-content-end">

    </div>

</div>