<div class="wrapper">
    <div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header col-12 row">
                                <div class="col-6 d-flex justify-content-start">
                                    <select class="col-4 selectpicker input" name="status" id="status">
                                        <option value="">Cuộc gọi có thời lượng > 2p</option>
                                    </select>
                                </div>
                                <div class="col-6 d-flex justify-content-end">
                                    <a type="button" class="align-self-center text-dark mr-2" data-toggle="modal"
                                        title="Tùy chỉnh bảng" data-target="#modal_customs_table">
                                        <i class="fas fa-bars fa-lg"></i>
                                    </a>
                                    <a type="button" class="align-self-center text-dark" data-toggle="modal"
                                        title="Thiết lập chung">
                                        <i class="fas fa-cog fa-lg"></i>
                                    </a>
                                </div>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                                <div class="wrapper-table">
                                    <table class="table-left custom-table">
                                        <thead>
                                            <tr class="text-center">
                                                <th>Mã cuộc gọi</th>
                                                <th>Thao tác</th>
                                            </tr>
                                        </thead>
                                        <tbody class="content-table-left"></tbody>
                                    </table>
                                    <table class="table-right custom-table">
                                        <thead>
                                            <tr class="text-center">
                                                <th class="text-truncate">Điểm đánh giá thủ công</th>
                                                <th>Điểm đánh giá tự động</th>
                                                <th>Kết quả đánh giá</th>
                                                <th>Hướng gọi</th>
                                                <th>Điện thoại viên</th>
                                                <th>Đội ngũ</th>
                                                <th>Nhóm</th>
                                                <th>Số gọi đi</th>
                                                <th>Số gọi đến</th>
                                                <th>Ngày giờ gọi</th>
                                                <th>Thời lượng</th>
                                            </tr>
                                        </thead>
                                        <tbody class="content-table-right"></tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <div class="col-12 d-flex justify-content-center" id="paging_table">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>