<div class="modal fade" id="popupHistory" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog popupHistory" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title font-weight-bold">Lịch sử chấm điểm</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            <div class="accordion" id="history">
              <div class="card">
                <div class="card-header" id="historyCallScore">
                  <h5 class="mb-0">
                    <button class="btn btn-link btn-history" type="button" data-toggle="collapse" data-target="#callScore" aria-expanded="true" aria-controls="callScore">
                      <i class="far fa-angle-down"></i> Lịch sử chấm điểm
                    </button>
                  </h5>
                </div>
            
                <div id="callScore" class="collapse show" aria-labelledby="historyCallScore" data-parent="#history">
                  <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="historyComment">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed  btn-history" type="button" data-toggle="collapse" data-target="#comment" aria-expanded="false" aria-controls="comment">
                      <i class="far fa-angle-down"></i> Lịch sử ghi chú
                    </button>
                  </h5>
                </div>
                <div id="comment" class="collapse" aria-labelledby="historyComment" data-parent="#history">
                  <div class="card-body">
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>