<div class="modal fade" id="popupCallScore" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title">Chấm điểm cuộc gọi</h5>
              <div class="justify-content-between">
                <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-outline-primary" id="">Xác nhận</button>
              </div>
          </div>
          <div class="modal-body">
              <form id="formBlockUser" autocomplete="off">
                <p>
                  <a class="detailScoreScript"  role="button" >
                    <i class="far fa-angle-down"></i> Kịch bản chấm điểm
                  </a>
                </p>
                <div class="collapse" id="collapseScoreScript">
                  <div class="card card-body">
                    <div class="row border-content">
                      <div class="col-sm-4">
                          <span class="nameScoreScript">Tên kịch bản chấm điểm nhóm 1</span>
                          <span class="nameScoreScript">Tổng điểm 0/20 - 0%</span>
                      </div>
                      <div class="col-sm-8">
                        <span class="nameScoreScript">tên nhóm tiêu chí</span>
                        <span class="nameScoreScript">0/20 - 0% (100%)</span>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                          <span>[Tên nhóm tiêu chí]</span>
                          <ul class="nav nav-scorescript">
                            <li class="nav-item">
                              <a class="nav-link active" href="#">Active</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="#">Link</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link disabled" href="#">Disabled</a>
                            </li>
                          </ul>
                        </div>
                        <div class="col-sm-8"></div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">

                </div>
                <div class="col-sm-8"></div>
              </form>
            
          </div>
          <div class="modal-footer">
 
          </div>
      </div>
  </div>
</div>