<!-- Modal -->
<div class="modal fade" id="unActiveSource" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Trạng thái</h5>
            </div>
            <div class="modal-body">
                Nguồn ghi âm sẽ bị ngừng hoạt động.Xác nhận
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-danger" id="confirmUnActive">Xác nhận</button>
            </div>
        </div>
    </div>
</div>