<!-- Modal -->
<div class="modal fade" id="activeSource" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Trạng thái</h5>
            </div>
            <div class="modal-body">
                Nguồn ghi âm sẽ chuyển trạng thái hoạt động.Xác nhận?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" id="confirmActive">Xác nhận</button>
            </div>
        </div>
    </div>
</div>