#searchUser {
  margin-top: 30px;
}

#import_user {
  margin-top: 30px;
  width: 135px !important;
}

#create_user {
  margin-top: 30px;
  width: 120px !important;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-md {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.33;
  border-radius: 20px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}



.wrapper-table {
  display: flex;
  overflow: auto;
}

.table-left {
  text-align: left;
  left: 20px;
  position: absolute;
}

.table-left td {
  max-width: 200px;
  min-width: 200px;
  background: white;
}

.table-right {
  margin-left: 600px;
}


.custom-table {
  border: 1px solid #dee2e6;
}

.custom-table thead th {
  padding: 15px 5px;
  max-width: 200px;
  min-width: 200px;
  border: 1px solid #dee2e6;
  padding: 0.75rem;
  background-color: #FFFF;
}

.custom-table tr td {
  border: 1px solid #dee2e6;
  padding: 0.75rem !important;
}

.btn-action {
  cursor: pointer;
  color: #009bff;
}

.btn-action:hover {
  color: #007bff;
}