<!-- UI phần cuộc gọi được chấm điểm -->
<div class="row mb-2">
  <div class="col-sm-6">
    <div class="col-sm-12">
      <label class="">Cuộc gọi đã được chấm điểm</label>
    </div>
    <div class="col-sm-3">Lưu lại trong</div>
    <div class="col-sm-3">
      <input type="text" class="form-control" placeholder="Tìm kiếm..." autocomplete="off">
    </div>
    <div class="col-sm-3">
      <select class="form-control selectpicker input" data-live-search="true" title="Chọn...">
        <option value="Ngày"></option>
      </select>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="col-sm-12">
      <label class="">Cuộc gọi chưa được chấm điểm</label>
    </div>
    <div class="col-sm-3">Lưu lại trong</div>
    <div class="col-sm-3">
      <input type="text" class="form-control" placeholder="Tìm kiếm..." autocomplete="off">
    </div>
    <div class="col-sm-3">
      <select class="form-control selectpicker input" data-live-search="true" title="Chọn...">
        <option value="Ngày"></option>
      </select>
    </div>
  </div>
</div>

<!-- UI phần thêm đội ngũ vào trong chính sách -->
<div class="row mb-2 ">
  <div class="col-sm-12">
    <label class="text-primary">Thêm đội ngũ</label>
  </div>
  <div class="col-sm-6 d-flex form-group">
    <div class="col-sm-8 pl-0">
      <select class="form-control selectpicker input" data-live-search="true" title="Chọn...">
      </select>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-block btn-primary float-sm-left" id="add_user">
        Thêm
      </button>
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col-sm-12">
    <label class="text-primary">Danh sách đội ngũ</label>
  </div>
  <div class="col-sm-6 d-flex form-group">
    <div class="col-sm-8 pl-0">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Tìm kiếm..." autocomplete="off">
      </div>
    </div>
    <div class="col-sm-2">
      <button type="button" class="form-control btn btn-primary btn-circle" id="btn_search_member">
        <i class="fas fa-search p-0"></i>
      </button>
    </div>
  </div>
</div>