<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" class="text-center">Trường thông tin</th>
      <th scope="col" class="text-center">Tên hiển thị trên Recording</th>
      <th scope="col" class="text-center">Thao tác</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">Mark</td>
      <td class="text-center">Otto</td>
      <td class="text-center">@mdo</td>
    </tr>
    <tr>
      <td class="text-center">Mark</td>
      <td class="text-center">Otto</td>
      <td class="text-center">@mdo</td>
    </tr>
    <tr>
      <td class="text-center">Mark</td>
      <td class="text-center">Otto</td>
      <td class="text-center">@mdo</td>
    </tr>
    <tr>
      <td class="text-center">Mark</td>
      <td class="text-center">Otto</td>
      <td class="text-center">@mdo</td>
    </tr>
    <tr>
      <td class="text-center">Mark</td>
      <td class="text-center">Otto</td>
      <td class="text-center">@mdo</td>
    </tr>
    <tr>
      <td class="text-center">Mark</td>
      <td class="text-center">Otto</td>
      <td class="text-center">@mdo</td>
    </tr>
    <tr>
      <td class="text-center">Mark</td>
      <td class="text-center">Otto</td>
      <td class="text-center">@mdo</td>
    </tr>
    <tr>
      <td class="text-center">Mark</td>
      <td class="text-center">Otto</td>
      <td class="text-center">@mdo</td>
    </tr>
  </tbody>
</table>
