<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" class="text-center">Trường thông tin</th>
      <th scope="col" class="text-center">Tên hiển thị trên Recording</th>
      <th scope="col" class="text-center">Thao tác</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="text-center">Var1</td>
      <td class="text-center">Var1</td>
      <td class="text-center">
        <span class="p-1 btn-action btn-edit-field" title="Chỉnh sửa thông tin" data-id="${item.id}">
          <i class="fas fa-pencil"></i>
        </span>
      </td>
    </tr>
    <tr>
      <td class="text-center">Var2</td>
      <td class="text-center">Var2</td>
      <td class="text-center">@mdo</td>
    </tr>
    <tr>
      <td class="text-center">Var3</td>
      <td class="text-center">Var3</td>
      <td class="text-center">@mdo</td>
    </tr>
    <tr>
      <td class="text-center">Var4</td>
      <td class="text-center">Var4</td>
      <td class="text-center">@mdo</td>
    </tr>
    <tr>
      <td class="text-center">Var5</td>
      <td class="text-center">Var5</td>
      <td class="text-center">@mdo</td>
    </tr>
    <tr>
      <td class="text-center">Var6</td>
      <td class="text-center">Var6</td>
      <td class="text-center">@mdo</td>
    </tr>
    <tr>
      <td class="text-center">Var7</td>
      <td class="text-center">Var7</td>
      <td class="text-center">@mdo</td>
    </tr>
    <tr>
      <td class="text-center">Var8</td>
      <td class="text-center">Var8</td>
      <td class="text-center">@mdo</td>
    </tr>
    <tr>
      <td class="text-center">Var9</td>
      <td class="text-center">Var9</td>
      <td class="text-center">@mdo</td>
    </tr>
    <tr>
      <td class="text-center">Var10</td>
      <td class="text-center">Var10</td>
      <td class="text-center">@mdo</td>
    </tr>
  </tbody>
</table>
